@model MovieRentals.Models.Movie

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.Title) Details</h4>
        <hr />
        <img src="@Url.Content(Model.ImagePath)" alt="@Html.DisplayFor(model => model.Title)" width="400" height="600" />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RentalDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RentalDuration)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
