@model IEnumerable<MovieRentals.Models.Movie>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th colspan="2">
                @Html.Label("Movies")
            </th>
        </tr>
        @foreach (var item in Session("cartMovies"))
        {

        }
    @*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }*@
        <tr>
            <th colspan="2">
                @Html.Label("Total")
            </th>
        </tr>
    </table>
</body>
</html>
