@model MovieRentals.Models.Customer


@{
    // Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.billingAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.billingAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ccNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ccNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cvvNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cvvNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.expDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.expDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
